{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Django AJAX{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body id="{% block body-id %}body{% endblock %}">
    <h1>{{ text }}</h1>
    <h2 id="ajax_text"></h2>
    <button type="button" onclick="ajax_function()">AJAX</button>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript">
        function ajax_function() {
            document.getElementById("ajax_text").innerHTML = '<img src="{% static 'img/loading.gif' %}" width="50" />';
            ajaxGet('/ajax_text/', function(content) {
                // alert(content);
                console.log(content)
                document.getElementById("ajax_text").innerHTML = content.ajax_text;
            })
        }
        // load without button
        // window.onload = ajax_function;
    </script>

</body>
</html>